@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Linux Container </h1>
    <p>This Windows application enabled with the docker and the Target OS as Linux</p>
</div>

